.about {

  @media screen and (max-width: 1199px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
.about__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.about__list {
  display: flex;
  justify-content: center;
  position: relative;
}

.about__item + .about__item {
  margin-left: 30px;
}
.about__wrap {
  position: relative;
}
.about__text {
  font-weight: 700;
  font-size: 14px;
  padding-top: 27px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
