.footer {
  background: #2f303a;
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  align-items: center;
  justify-content: center;
  text-align: center;
  // display: flex;
  // align-items: baseline;
  @include desk {
    display: flex;
    align-items: baseline;
  }
}
.footer__link {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    justify-content: center;
  }
  @include desk {
    display: flex;
    align-items: baseline;
  }
}
.footer__address {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
}
.span-studio--white {
  color: white;
}

.address__item {
  font-style: normal;
}
.address__item:not(:last-child) {
  margin-bottom: 8px;
}
.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address__link-mail,
.address__link-tel {
  margin-top: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer__social {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }

  // margin-left: 70px;
  @include tab {
    margin-left: 165px;
  }
  @include desk {
    margin-left: 70px;
  }
}

.social__link--footer {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe--footer {
  @include desk {
    margin-left: 93px;
  }
}
.subscribe {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 450px;
    display: inline-flex;
  }
  @include desk {
    align-items: start;
  }
}
.subscribe__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  cursor: pointer;
}
.subscribe__wrapper {
  position: relative;
}

.subscribe__input {
  width: 100%;
  margin-bottom: 20px;
  @include tel {
    width: 450px;
  }
  @include desk {
    width: 358px;
  }
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
}

.btn--subscribe {
  margin-left: 12px;
}
.social__icon--subscribe {
  margin-left: 10px;
}
